*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Oswald', sans-serif;
}

body{
background:#111;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

.navbar ul{
display:flex;
gap:20px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
background:url("images/bg.jpg") center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero h1{
font-size:60px;
text-shadow:2px 2px 10px black;
}

.tournaments{
padding:50px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:white;
color:black;
padding:20px;
border-radius:10px;
}

.card img{
width:200px;
border-radius:10px;
}

.news{
padding:50px;
background:black;
}

.news-box{
display:flex;
gap:20px;
justify-content:center;
align-items:center;
flex-wrap:wrap;
}

.news img{
width:400px;
border-radius:10px;
}

/* Отзывы */

.reviews{
padding:50px;
text-align:center;
background:#111;
}

.reviews-box{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.review{
background:white;
color:black;
padding:20px;
border-radius:10px;
width:200px;
text-align:center;
}

.review img{
width:100px;
height:100px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
}

/* Footer */

footer{
background:black;
padding:40px;
}

.footer{
display:flex;
justify-content:space-around;
flex-wrap:wrap;
}